
BasedOnStyle: LLVM
IndentWidth: 4
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: None
AccessModifierOffset: -4
SortIncludes: false
AlwaysBreakTemplateDeclarations: true
AlignTrailingComments: false
SpacesInAngles: true

